.venv/

__pycache__
.vscode/
.idea/
*.pyc
*.ipynb
*.json
*.log
*.mp4
*.csv
.env
uv.lock
videoanalizer.egg-info/

*.jpg
multi_object_detector/dataset/*
multi_object_detector/detectors/models/vit-fire-detection/model.safetensors
multi_object_detector/detectors/models/vit-fire-detection/*.bin
multi_object_detector/detectors/models/yolov8*.pt
multi_object_detector/video_jobs/

form-detection/